<?xml version="1.0" ?>
<config>
    <modules>
        <Aoe_Translate>
            <version>0.2.0</version>
        </Aoe_Translate>
    </modules>
    <global>
        <helpers>
            <aoe_translate>
                <class>Aoe_Translate_Helper</class>
            </aoe_translate>
        </helpers>
        <models>
            <aoe_translate>
                <class>Aoe_Translate_Model</class>
                <resourceModel>aoe_translate_resource</resourceModel>
            </aoe_translate>
            <aoe_translate_resource>
                <class>Aoe_Translate_Resource</class>
                <entities>
                    <log>
                        <table>aoe_translate_log</table>
                    </log>
                </entities>
            </aoe_translate_resource>
            <core>
                <rewrite>
                    <translate>Aoe_Translate_Model_Translate</translate>
                </rewrite>
            </core>
        </models>
        <resources>
            <Aoe_Translate>
                <setup>
                    <module>Aoe_Translate</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </Aoe_Translate>
        </resources>
    </global>
    <default>
        <dev>
            <aoe_translate>
                <log_level>0</log_level>
            </aoe_translate>
        </dev>
    </default>

    <phpunit>
        <suite>
            <modules>
                <Aoe_Translate/>
            </modules>
            <groups>
                <resources>Resource</resources>
            </groups>
        </suite>
    </phpunit>
</config>
